services:
  postgres:
    image: "postgres:18"
    restart: "unless-stopped"
    shm_size: "128mb"
    ports:
      - "5432:5432"
    volumes:
      - "shoes-store-db:/var/lib/postgresql"
      - "./docker/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d"
    env_file: ".env" # POSTGRES_PASSWORD

  valkey:
    image: "valkey/valkey:9-alpine"
    command: "valkey-server --bind * -::* --save 60 1 --loglevel warning"
    restart: "unless-stopped"
    ports:
      - "6379:6379"
    volumes:
      - "shoes-store-valkey:/data"

  server:
    image: "ghcr.io/beer-psi/shoes-store-api:trunk"
    volumes:
      - "./config:/app/config"
    depends_on:
      postgres:
        condition: "service_started"
      valkey:
        condition: "service_started"
    expose:
      - "5150"
    links:
      - "postgres"
      - "valkey"
    env_file: ".env"

  tunnel:
    image: "cloudflare/cloudflared:latest"
    command: "tunnel --post-quantum --no-autoupdate run"
    restart: "unless-stopped"
    links:
      - "server"
    deploy:
      resources:
        limits:
          memory: 40MB
    env_file: ".env" # TUNNEL_TOKEN
    environment:
      TUNNEL_TRANSPORT_PROTOCOL: "quic"

volumes:
  shoes-store-db:
  shoes-store-valkey:
