services:
  postgres:
    image: "postgres:18"
    restart: "unless-stopped"
    shm_size: "128mb"
    ports:
      - "5432:5432"
    volumes:
      - "shoestore-postgres:/var/lib/postgresql"
    environment:
      POSTGRES_PASSWORD: "insecure-change-this"

  shoestore-dev:
    user: "1000:1000"
    tty: true
    container_name: "shoestore-dev"
    build:
      dockerfile: "Dockerfile.dev"
    ports:
      - "2222:2222" # ssh
      - "3000:3000" # server
    volumes:
      - "./:/shoestore"
      - "/:/host-pc"
      - "/shoestore/node_modules"

volumes:
  shoestore-postgres:
